nameOverride: ""
fullnameOverride: ""

destination:
  server: https://kubernetes.default.svc

prometheus:
  annotations: {}
  spec:
    alertmanagers:
    - apiVersion: v2
      name: kube-prometheus-stack-alertmanager
      namespace: kube-prometheus-stack
      pathPrefix: /
      port: http-web
    externalLabels: {}
    disableCompaction: false
    enableAdminAPI: false
    listenLocal: false
    logFormat: logfmt
    logLevel: info
    paused: false
    podMetadata:
      annotations:
        traffic.sidecar.istio.io/excludeOutboundPorts: "9093"
    podMonitorNamespaceSelector: {}
    portName: web
    probeNamespaceSelector: {}
    prometheusExternalLabelName: ""
    replicaExternalLabelName: ""
    replicas: 1
    retention: 24h
    ruleNamespaceSelector: {}
    serviceMonitorNamespaceSelector: {}
    shards: 1
    securityContext:
      runAsGroup: 2000
      runAsNonRoot: true
      runAsUser: 1000
      fsGroup: 2000
    version: v2.26.0
    
    ## Pod anti-affinity can prevent the scheduler from placing Prometheus replicas on the same node.
    ## The default value "soft" means that the scheduler should *prefer* to not schedule two replica pods onto the same node but no guarantee is provided.
    ## The value "hard" means that the scheduler is *required* to not schedule two replica pods onto the same node.
    ## The value "" will disable pod anti-affinity so that no anti-affinity rules will be configured.
    podAntiAffinity: "hard"

    ## If anti-affinity is enabled sets the topologyKey to use for anti-affinity.
    ## This can be changed to, for example, failure-domain.beta.kubernetes.io/zone
    ##
    podAntiAffinityTopologyKey: kubernetes.io/hostname


  ## Configure pod disruption budgets for Prometheus
  ## ref: https://kubernetes.io/docs/tasks/run-application/configure-pdb/#specifying-a-poddisruptionbudget
  ## This configuration is immutable once created and will require the PDB to be deleted to be changed
  ## https://github.com/kubernetes/kubernetes/issues/45398
  ##
  podDisruptionBudget:
    enabled: false
    minAvailable: 1
    maxUnavailable: ""
  
service:
  port: 9090

serviceAccount:
  annotations: {}
