name: Terraform
on:
- push

jobs:
  checkfmt:
    name: Format
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Check format
      run: make all/checkfmt

  validate:
    name: Validate
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Validate
      run: make all/validate

  docs:
    name: Docs
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Platform Docs
      uses: terraform-docs/gh-actions@v1.0.0
      with:
        git-push: true
        find-dir: platform
        output-file: README.md
        output-method: inject
        working-dir: .

    - name: AWS Docs
      uses: terraform-docs/gh-actions@v1.0.0
      with:
        git-push: true
        find-dir: aws
        output-file: README.md
        output-method: inject
        working-dir: .

  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Setup TFLint
      uses: terraform-linters/setup-tflint@v6
      with:
        tflint_version: v0.44.1

    - name: Lint
      run: make all/lint
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
