name: Tests
on:
  workflow_call:
    secrets:
      AWS_ACCOUNT_ID:
        description: AWS account in which tests will run
        required: true
      SLACK_BOT_TOKEN:
        description: Token used to send messages to Slack
        required: true

env:
  KUBECONFIG: /tmp/kubeconfig
  SLACK_CHANNEL: '#mission-control'

jobs:
  plan:
    name: Test
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: us-east-1
        role-to-assume: "arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/flightdeck-ci"

    - name: Assume execution role
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
        aws-region: us-east-1
        aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ env.AWS_SESSION_TOKEN }}
        role-duration-seconds: 3000
        role-skip-session-tagging: true
        role-to-assume: "arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/flightdeck-ci-execution"

    - name: Set up Kubernetes context
      run: |
        CLUSTER=$(echo 'flightdeck-${{ github.ref_name }}' | cut -c1-20)
        CLUSTER="$CLUSTER-sandbox-v1"
        echo "CLUSTER=$CLUSTER" >> "$GITHUB_ENV"
        aws \
          --region us-east-1 \
          eks \
          update-kubeconfig \
          --name "$CLUSTER"

    - name: Build manifests
      id: kustomize
      uses: azure/k8s-bake@v2.4
      with:
        renderEngine: kustomize
        kustomizationPath: tests/manifests

    - name: Deploy test app
      uses: Azure/k8s-deploy@v4
      with:
        manifests: ${{ steps.kustomize.outputs.manifestsBundle }}
        namespace: acceptance

    - name: Run tests
      run: |
        make tests \
          ADDRESS=https://${{ github.ref_name }}.flightdeck-test.thoughtbot.com \
          CLUSTER="$CLUSTER"

    - name: Notify Slack
      if: failure()
      uses: slackapi/slack-github-action@70cd7be8e40a46e8b0eced40b0de447bdb42f68e # v1.26.0
      with:
        channel-id: ${{ env.SLACK_CHANNEL }}
        slack-message: "Flightdeck acceptance tests have failed on the testing cluster."
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
